<!DOCTYPE html>
<html lang="vi">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='\node_modules\bootstrap\dist\css\bootstrap.min.css' />
    <script type="text/javascript" src="\node_modules\jquery\dist\jquery.min.js"></script>
    <script type="text/javascript" src="\javascripts\jquery.validate.js"></script>
    <script type="text/javascript" src="\javascripts\additional-methods.js"></script>
  </head>
  <body>
    <div class="container">
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/classes">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/classes">Quản lý lớp<span class="sr-only">(current)</span></a></li>
        <li><a href="/students">Quản lý sinh viên</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        <div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><%= title %></h3>
</div>
<div class="panel-body">
<form id="addForm" class="form-horizontal" action="/classes" method="post" name="addnew" novalidate="novalidate">
<div class="form-group">
<label class="col-sm-4 control-label" for="nganh">Ngành học</label>
<div class="col-sm-5">
<input type="text" class="form-control" id="nganh" name="nganh" placeholder="nhập ngành học">
</div>
</div>
<div class="form-group">
<label class="col-sm-4 control-label" for="khoa">Khoá học</label>
<div class="col-sm-5">
<input type="text" class="form-control" id="khoa" name="khoa" placeholder="nhập khoá học">
</div>
</div>
<div class="form-group">
<div class="col-sm-9 col-sm-offset-4">
<button type="submit" class="btn btn-primary" name="addnew" value="save">Lưu lại</button>
</div>
</div>
</form>
</div>
</div>
    </div>

    <script type="text/javascript" src="\javascripts\main.js"></script>
    
    
<script type="text/javascript">
		
		$( document ).ready( function () {
			$( "#addForm" ).validate( {
				rules: {
					nganh: "required",
					khoa: "required"  
				},
				messages: {
					nganh: "Vui lòng nhập ngành học",
					khoa: "Vui lòng nhập khoá học"    
				},
				errorElement: "em",
				errorPlacement: function ( error, element ) {
					error.addClass( "help-block" );
					error.insertAfter( element);
				},
				highlight: function ( element, errorClass, validClass ) {
					$( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
				},
				unhighlight: function (element, errorClass, validClass) {
					$( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
				}
			} );

		} );

	</script>

  </body>
</html>
